body {
    width: 100%;
    margin: 0;
    font-size: 1.125rem;
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: flex;
}

.container-nav {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: slateblue;
    color: black;
    max-width: 980px;
}

.container-brand {
    justify-content: flex-start;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    margin: 1em;
}